#map {
    margin-top: 0px;

}
.navbar {
    width: 75%;
    text-align: center;
    margin: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-color: darkgreen;
    border-style: solid;
}
.table canvas {
    margin-top: 56px;
}
