@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  background-color: black;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
  vertical-align: middle;

  }
.form {
  border-radius: 10px;
  justify-content: center;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }

.background-img {
  position: absolute;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

  background-image: url('https://localview.link/wp-content/uploads/2015/04/google-map-background-1900x1170.png');
  background-repeat:no-repeat;
    background-size:cover;
    -webkit-filter: blur(7px);
    opacity: 0.5;
}

.form button {
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
